[2018-11-19 16:20] seth350 opened #2 "ConnectionError: Connection is closed."
Using:
Raspberry Pi 3 B+
Latest Raspbian Image
Node-Red v0.19.2
node-red-contrib-mssql-plus v0.0.12
mssql v3.3.0

I have total of four mssql-plus nodes in a flow. None of them are activated simultaneously.
Only one of the nodes is throwing this error. The other three function normally.

Restarting Node-Red didn't solve the issue.

Another note, I have an identical Node-Red instance running on a di

[2018-11-21 16:48] seth350 commented on #2
Update:

Adding a small delay in front of the mssql-plus node seems to have corrected the issue.
I don't know why though? There isn't any other query happening at the time the node is called and there is a good 5-10 seconds since one of the other nodes were called.
Perhaps it takes a little longer to close the connection at times?

[2018-11-21 17:05] pate313373 commented on #2
This is indeed a bug! You're just describing a workaround.
The fix is here: https://github.com/redconnect-io/node-red-contrib-mssql/pull/29

[2018-11-21 17:07] seth350 commented on #2
Sorry

[2019-01-28 15:24] pate313373 commented on #2
There is still a bug:
I'm using two different connections. The databases both run on the same MSSQL instance.
After a few (parallel) rquests, one of the connections gets closed and stays closed. The other connection, can in the meanwhile still handle parallell requests.

So the issue is now about parallel connections, not parallel queries like before.

Thank you for the great job so far!

[2019-01-30 22:07] pate313373 opened #5 "Catch errors"
Hi bestlong!

Sorry for bothering you again, but you are the only one who is still out there on mssql for node-red. - So your work is most appreciated!

I've just noticed, that a catch-node does not catch erros of a mssql node, maybe you could implement to throw an exception by any chance?

BR
pate

[2019-02-01 18:32] mskorge commented on #2
I'm seeing this as well...

[2019-02-28 15:27] youngkzy commented on #2
This Bug still exists.  I have 2 Databases which the first gets a reference to a product name.  The other database is the data for that product.  MSSQL was fully functional before 7 months ago before that change.  After I upgraded to the prior version and then today on the most recent version,  the initial queries are completely functional ONLY for one trial.  If I trigger the nodes again after th

[2019-03-07 16:14] youngkzy commented on #2
How do you go about re-initializing the node? programmatically?  It works OK if you re-deploy, but after the error exists, it continues until re-deployment.   There is nothing which I know of that allows you to initialize these connections by flow logic, or is there?  The problem may be that you need to allow a re-connection point based on flow logic....

[2019-03-27 02:23] pate313373 opened #6 "Port should be optional"
Hi,

in the latest version, the port attribute is mandatory.
I guess 99% of all SQL server use named instances, where ports are not being used.
Could you please set this attribute optional again, as it throws configuration errors during deployment?

Thank you and best regards
Pate

[2019-03-28 05:49] #6 closed

[2019-04-09 17:47] youngkzy commented on #2
in "mssql.js"
I was reviewing the code... just looking at it really.
There was a syntax error noted in my javascript editor.

Is there something missing at the '.then('  which would adjust behavior?

node.on('input', function (msg) {
            mssqlCN.connect(node.id).then(()* =>* {        AT "*"  EXPECTED EXPRESSION                node.*status({

[2019-04-25 09:07] ukmoose opened #9 "What does it do that the one it is based on doesn't"
The ReadMe states the node it is based on, but doesn't say what it does that the other one doesn't.

What can I do in your node that I can't do in the other?

[2019-04-27 11:42] bestlong commented on #9
Hi @ukmoose

Thanks for your comments.

node-red-contrib-mssql has stopped maintenance for a long time

so, i create node-red-contrib-mssql-plus increase the features I need and publish.

I will update ReadMe info.

[2019-05-02 09:03] MarkusBe commented on #2
I have exactly the same issue. It works once, the second time it fails until I re-deploy the flow, that it works once again...

[2019-06-18 16:51] pate313373 commented on #6
The port attribute is mandatory again. :(

[2019-06-18 16:52] pate313373 opened #10 "The port attribute is mandatory again. :("
The port attribute is mandatory again. :(

_Originally posted by @pate313373 in https://github.com/bestlong/node-red-contrib-mssql-plus/issues/6#issuecomment-503219961_

[2019-06-18 16:56] #10 closed

[2019-06-20 20:19] youngkzy commented on #9
Hi @bestlong,  Can you fix the issues which are related to ES6 Javascript where the older connections are cached?  the configuration then don't update and then don't match the queries being run.   I have 2 different Databases on 2 Different SQL Servers.  I connect to both for the first time fine.   Upon running the flow again, I get a SQL error where it cannot find the table in the query.  The rea

[2019-07-24 12:27] Steve-Mcl commented on #9
Fixed in V0.2.1

[2019-07-24 12:27] #9 closed

[2019-07-24 12:28] Steve-Mcl commented on #5
Addressed in V0.2.1

![image](https://user-images.githubusercontent.com/44235289/61793359-dfdfa400-ae16-11e9-9aca-74adc7f7d957.png)

[2019-07-24 12:28] #5 closed

[2019-07-24 12:29] Steve-Mcl commented on #2
Hi all, I now believe this bug to be fixed in V0.2.1.

Closing issue ( for now :) ).

[2019-07-24 12:29] #2 closed

[2019-09-03 17:10] Steve-Mcl opened #14 "ignore"
ignore

[2019-10-15 01:48] #14 closed

[2019-10-15 08:30] wolli-lenzen opened #15 "Credentials via Environment-Variable"
In Node documentation you write "You can use environment variables in any connection field, using mustache format."

This works fine for connection information stored in flow.json but not for user and password.

My unencrypted flows_cred.json looks like
`{"7cd6f15f.369f7":{"username":"{{{DB_USER}}}","password":"{{{DB_PASSWORD}}}"}}`

When trying to connect, I get the following errormessage:
`Error

[2019-10-15 09:00] wolli-lenzen commented on #15
as far as I can see in the code, you do the mustache.render only on config values but not on node.credentials.xxx

That´s quite inconsistent, because if I deploy a flow as microservice in a container-environment, it should be possible to configure the microservice via ENV.

[2019-11-26 10:11] jonferreira opened #17 "Timeout"
Hi,

I'm feeling like a complete noob and I'm sure it's me missing something silly but for the life on me,I can't connect to a SQL server with this node.

I have a "remote" SQL server I can access with Navicat with sql.mydomain.com\instance,50002 but failing to translate this into node config.

I've tried with

server: sql.mydomain.com\instance
port: 50002

and

server: sql.mydomain.com\instance,5

[2019-11-30 10:59] bestlong commented on #17
Hi @jonferreira
I don`t have Navicat. but can you try

server: sql.mydomain.com\instance
port: 1433

[2019-11-30 17:55] jonferreira commented on #17
Thanks.

Think the server may have upd1444 closed or something cuz I just couldn't access it via named instance.

In the end managed to get going with just sql.mydomain.com and port: 50002.

Been using it and so far I love it, great job @bestlong!

[2019-12-01 14:56] #17 closed

[2019-12-02 10:35] jonferreira opened #18 "suggestion: be able to handle multiple SELECT queries"
Hi,

Just a quick suggestion I'd love to see it being implemented.

Add the ability to handle multiple SELECT queries, e.g.

msg.payload =

[code]

In Studio Management or Navicat this will execute 2 SELECT queries and return each one.

Would be great to have a similar behaviour here, maybe having the node return these as an array:

msg.payload = [
[query 1 results array],[query 2 results array]
]

[2019-12-16 08:02] mrauter commented on #15
@wolli-lenzen I have added a pull request for this issue. But it is already possible to use the default environment variable support (https://nodered.org/docs/user-guide/environment-variables). Example: ${DB_USER}. Mustache is only needed if you want to concat strings.

[2019-12-20 17:26] timnis opened #20 "MSSQL 2017 with JSON feature add "JSON_F52E2B61-18A1-11d1-B105-00805F49916B" prefix to JSON resultset"
Hi,

I try use this node with MSSQL 2017 and JSON feature. Problem is that MSSQL add MS specific prefix to JSON result. Like below. String is always same.

[code]

It changes JSON to JavaScript Objects says Nick O'Leary, see thread
https://discourse.nodered.org/t/http-response-json-without-backslashes/19376/7?u=timnis

In node-mssql there is option "config.parseJSON = true" to strip out this MS pr

[2019-12-20 18:15] timnis commented on #20
I tested to add "parseJSON: true," to mssql.js config and now JSON result is correct
`´´
[{"ProductCode":"0040001","ProductName":"Brother DK11209 osoitetarra 29x62mm"}]
[code]

[2019-12-31 16:45] #15 closed

[2019-12-31 16:45] #20 closed

[2020-01-14 22:00] davidsavoie1 opened #22 ""TypeError: sql.ConnectionPool is not a constructor""
Hi! When I try to configure a node to connect to the MSSQL database, I get this error on deploy:

[code]
Any hint as to what to look for? Thank you very much!

[2020-01-15 14:06] SoEpe commented on #22
+1

same issue here ;)

[2020-01-15 14:59] bestlong commented on #22
Quickly try connect to SQL 2K in docker is work.
please provide more info.

[code]

[2020-01-15 20:36] davidsavoie1 commented on #22
I'm really sorry, but I don't use Docker and I don't quite understand what I should be doing to provide you with more information. A `is not a constructor` type of error really seems to be originating from the plugin code...

[2020-01-16 04:01] bestlong commented on #22
@davidsavoie1
OS, node-red, other install nodes version ?
if u can provide flow code, that will be great to debug.

[2020-01-24 14:37] davidsavoie1 commented on #22
I'm developping with Node-RED v1.0.3 deployed on a RaspberryPI. I don't know all the configurations of the rPI, since I'm only in charge of the Node-RED workflow.

I'm sorry but I don't have the flow code anymore since I had to move to basic `node-red-contrib-mssql` in order to make everything work...

[2020-03-02 08:23] dmvstar opened #25 "Update version for opportunity updates"
Please increase the version for opportunity updates from npmjs.com and nodered.org
Thanks

[2020-03-02 10:58] bestlong commented on #25
v0.4.0

[2020-03-02 10:58] #25 closed

[2020-03-02 19:26] NeltherGP opened #26 "New connection per node?"
I want to know if a new connection is created for each node or if a single connection is shared between many nodes.

[2020-03-03 15:34] bestlong commented on #26
this package have two node. MSSQL node and MSSQL-CN node.
MSSQL node for query
MSSQL-CN for connection pool
many MSSQL node can use common MSSQL-CN node.

[2020-03-04 16:51] NeltherGP commented on #26
Thanks, I confirmed this with sp_who2 query and executing a test sp with a delay inside.

[2020-03-04 16:51] #26 closed

[2020-03-17 16:56] Humphaz opened #27 "Stored Procedures"
Hi,

Is there any way of supporting the execution of stored procedures.

I notice in the Node.JS MSSQL that stored procedures are called in a different way, is there support for it node-red-contrib-mssql-plus.

Best Regards,

Glyn

[2020-03-25 15:32] pedrossag opened #28 "Tarn: opt max. must be an Integer > 0"
Hi
I am running NodeRed 1.0.3 together with node-red-contrib-mssql-plus 0.4.0.
When executing queries on the server, I get the error message: 'Tarn: opt max. must be an Integer > 0' right below the node.
Tried to google it but did not find anything useful.
DB is SQL Server Standard 2017.
![25 03](https://user-images.githubusercontent.com/58565015/77554219-172ab700-6eb6-11ea-8f33-47306bf35b8f.png)

[2020-03-26 06:45] pedrossag commented on #27
Hi,
a temporary workaround could be the exec node that calls a batch script.
The batch runs SQLCMD that executes the SP.

Regards,
Hannes

[2020-03-27 16:01] pedrossag commented on #28
After hacking around I've hardcoded Polsize max to 5 regardless of the node config. Restarted nodered and the problem was gone.
Reset the js code to default and it is still working after restarting nodered.

Can anyone explain this behaviour? And what is Tarn and opt??

[2020-04-23 11:10] Steve-Mcl commented on #22
@davidsavoie1 it would be nice if you could please try again.

If there is a bug I will fix it.

The original MSSQL node had many issues and short comings (e.g. doesnt return multiple queries,  if you have 2 connections it can get confused and execute against the wrong node, doesnt have option to throw errors, doesnt show you the final rendered query sent to DB (so you dont know whats happening to

[2020-04-23 11:20] Steve-Mcl commented on #18
This node already supports multiple queries.

![image](https://user-images.githubusercontent.com/44235289/80093586-a8945400-855c-11ea-9129-fb4d1ac72ec6.png)

![image](https://user-images.githubusercontent.com/44235289/80093548-99ada180-855c-11ea-8427-a7c3f16d4b1f.png)

[2020-04-23 11:20] #18 closed

[2020-04-23 11:26] Steve-Mcl commented on #28
Hi, could you provide more info please?

What did you hack?
Where did you set max to 5?

Let us know & I'll get it look at.

Thanks.

[2020-04-23 11:39] Steve-Mcl commented on #27
No need for work around - stored procedures work already...

![image](https://user-images.githubusercontent.com/44235289/80095178-6ae4fa80-855f-11ea-946a-9e972a7d87bb.png)

![image](https://user-images.githubusercontent.com/44235289/80095040-2eb19a00-855f-11ea-8d6e-38bf421fc10f.png)

[2020-04-23 11:39] #27 closed

[2020-04-23 11:46] pedrossag commented on #28
Hi, thank you for the reply. I've modified mssql.js and changed the pool object s.t. it ignores the max from node red:
`
pool: {
      max: 5, //was: parseInt(config.pool),
      min: 0,
      idleTimeoutMillis: 3000,
      //log: (message, logLevel) => console.log(`POOL: [${logLevel}] ${message}`)
 }
`
As I mentioned in the original post, I was not able to reproduce the error even after resetting

[2020-04-23 12:39] Steve-Mcl commented on #28
So, I suspect `config.pool` - did you perhaps import a flow or upgrade from another MSSQL node?

If so, then `pool` may not have been present in the flow.

That explains why once you set it & deployed, your flow got a value for `pool` (and therefore the error disappeared.

I will handle this issue and others to improve the importing of flows without certain properties.

Will update REPO and NPM to

[2020-04-23 12:49] pedrossag commented on #28
Hmm.. I've updated NodeRed as well as the MSSQL Node. So this might have caused the issue.

Thanks for your support and your commitment to this project!

klib

[2020-04-23 16:27] NeltherGP opened #29 "Reconnect after connection lost"
Hi, I wonder how could I reconnect to the sql server after losting connection eg. network issues.

[2020-04-24 18:18] Steve-Mcl commented on #29
Hi

I have tested this in the past and had no problem - however I did manage to get it to happen.

I will put some logic in to handle it.

Thanks, Steve.

[2020-04-24 18:23] #29 closed

[2020-05-11 11:58] Steve-Mcl commented on #22
Following the recent fixes #29 and #28 It might be this issue was inadvertantly fixed (it is feasable) so I will close this issue for now.

If the problem returns - please re-open this issue.

Please include node -v and node-red version in your reply.

And also check to see if you have any other MSSQL contrib nodes installed (other MSSQL node-red contrib nodes installed at the same time can cause

[2020-05-16 10:52] ameennihad opened #30 "Port and Instance Name"
Hi,

How can specify port number and instance name in the connection node? I see there was a port field in previous version, some one asked to make it optional, but it's no longer available in the latest version!

note that I connect to database using this server name ([server-ip]\[instance name],[port number]) but that format not supported in this node!

Thank You

Ameen

[2020-05-16 22:52] ameennihad commented on #30
I'm not sure what happened, but after restarting my server the Port field and some other check boxes appeared in the SQL connection node, I just configured the right port and ignored instance name, from that point everything worked fine.

[2020-05-16 22:52] #30 closed

[2020-06-10 15:42] IoTPlay opened #31 "What is the Server Connection Config checkbox "json support" for?"
Hi, I cannot find this in the documentation - what is it for?

[2020-06-11 12:04] bestlong commented on #31
this feature requirement from #20

[2020-06-11 18:13] IoTPlay commented on #31
Thank you. #closed

[2020-06-12 16:28] #31 closed

[2020-07-23 12:21] Steve-Mcl opened #32 "Beta V0.5.0-beta.1 - support "execute" and parameters"
Hi @bestlong , contributers and anyone passing...

I have added a branch called `params`

The purpose of these modification is 2 fold...
1. Improve protection against sql injection (through use of parameters)
2. permit sending TVP (Table Values Parameters) to stored procedures.

See this [thread](https://discourse.nodered.org/t/mssql-passing-array-to-udt-parameter/30049/11?u=steve-mcl) for some ad

[2020-07-28 14:36] Steve-Mcl commented on #32
2 beta testers success (as well as my on my own private machines)...
* https://discourse.nodered.org/t/mssql-plus-passing-array-to-udt-parameter-tvp-param-in-a-stored-procedure/30049/23
* https://discourse.nodered.org/t/sending-multiple-modbus-data-values-to-sql-server-azure-in-one-stored-procedure/30488/18

[2020-07-30 10:28] Steve-Mcl commented on #32
I have released a 3rd & hopefully final beta on NPM (same install method `npm install node-red-contrib-mssql-plus@beta`)

This is mostly UI tweaking (underlying functionality relatively unchanged since beta.1)

I would still appreciate it if any of the other contributes or users would test and feedback before I publish changes into master / NPM.

[2020-08-15 14:36] Steve-Mcl commented on #32
After several users and my own production testing, I am happy the additions are working well.

So I will close this issue and publish the changes,

Please re-open if you wish to discuss.

[2020-08-15 14:36] #32 closed

[2020-08-16 20:34] SirMusic commented on #22
I'm currently having the same issue with an Electron app I'm working on -- I'm very new to nodeJS dev so this might be an ID10T error, but regardless, I can post whatever information you need if you can help resolve my issue.

Thank you

node -v
v12.18.2

npm -v
6.14.7

-----------

`const sql = require('mssql')

const config = {
  user: 'DevAdmin',
  password: '*****************',
  server: 'loca

[2020-08-16 22:38] Steve-Mcl opened #33 "Internationalisation"
Hi, I wonder if there are any users of the MSSQL-PLUS node would be willing to assist in translating the 2 following files...

https://github.com/bestlong/node-red-contrib-mssql-plus/blob/i18n/src/locales/en-US/mssql.json
https://github.com/bestlong/node-red-contrib-mssql-plus/blob/i18n/src/locales/en-US/mssql.html

I would accept a PR or even post translations in a reply here & I will integrate t

[2020-08-16 22:52] Steve-Mcl commented on #22
@SirMusic what version of node-red are you using?  Also, have you updated to the latest version of node-red-contrib-mssql-plus (v0.5.0) (you can check in the manage pallete of node-red)

Or is this something you are experiencing outside of node-red-contrib-mssql-plus and just after some help?

[2020-08-17 12:51] gcnovak opened #34 "Issue with persistent login credentials"
I am receiving this error message:
17 Aug 08:29:22 - [info] [MSSQL-CN:SQLSExpress2019] Error connecting to server : localhost\SQLEXPRESS, database : NodeRedTest, port : 1433, user :
ConnectionError: Login failed for user ''.

The MSSQL-CN doesn't appear to be saving or rather reading the login credentials once deployed.  Before I deploy, if I check the credentials they are there, but after deployi

[2020-08-17 13:08] gcnovak commented on #34
One thing I do notice different between my two dev machines.  The flows_computername_cred.json file where it is working has an encryption char = 128 vs my dev machine not working of only 36 chars.  Maybe the credentials are not being written to the cred file?

Also, it does save other settings fine, only the username, password, and domain fields are not being saved.  It appears.
Thanks

[2020-08-17 14:25] Steve-Mcl commented on #34
Hi Greg,

is the cred file on the dev machine being updated (check the timestamp) - perhaps its a permissions issue (you may have installed or ran NR as an admin & now the files permissions are too tight?)

PS, I have tried the latest version 0.5.0 from NPM also (as opposed to running from the source code version that I published yesterday) and it works ok for me.

[2020-08-18 12:49] gcnovak commented on #34
@Steve-Mcl  Yes, the file was being updated and when I deleted it, it would be recreated without issue.  I tried copying the cred encryption string from my work computer and loaded NR.  When I did that it flagged it as an invalid encryption (probably machine based encryption).  It forced me to delete the cred file and re-enter the credentials.  Then it worked.  Rather odd.

As a Node developer, I

[2020-08-18 12:49] #34 closed

[2020-08-24 04:05] harmonic7 opened #35 "Table Valued Parameter Performance Issue"
Firstly, thanks so much for your fantastic work.

I wanted to see how this node performed, and so I tried a simple test with 50,000 rows, however had to limit things. 1000 rows were inserted using a TVP fairly quickly (about a second or so), however more than that seemed to get slower exponentially.

I guess that perhaps the slowness is coming from actually building the sql table before inserting

[2020-08-24 05:09] harmonic7 opened #36 "SQL Parameter Escaping may be required?"
Hi There, I see that the `payload.Name` doesn't get escaped before inserting into the database:

[code]

For instance, if we have `payload.Name` containing a first character of `'`, then the `payload.Name` is populated into the database as an empty string.

[2020-08-24 08:15] Steve-Mcl commented on #35
Hi @harmonic7 thanks for the compliments.

Regarding your slow down, obviously 50000 rows is gonna be slower however I suspect you are being impacted by the incredibly slow performance of JSONata when processing lots of rows.  I have pointed out the slow performance of JSONata a few times on the node-red forum but I cant reach everyone ;).  I realise the potential of JSONata and love the idea of i

[2020-08-24 08:31] Steve-Mcl commented on #36
Hi again @harmonic7 - it was never the intention of mustache in this node to be a substitute for actual parameters. It is litteraly a string substitute so unfortunately, if `payload.name` is  `Des O'Connor` then the single quote is going to trip it up`'` .

Now that the node actually supports parameters, this is much easier to handle...
* Add a parameter called "name", set its data to `msg.payload

[2020-08-24 09:53] harmonic7 commented on #36
Fantastic, thanks for that @Steve-Mcl. I'll use the parameter syntax that you mention above 👍

Closing now.

[2020-08-24 09:53] #36 closed

[2020-08-24 11:19] harmonic7 commented on #35
Hi @Steve-Mcl ,
Thanks so much for your reply.
I've done as you recommended and added your performance monitoring subflow into my original flow.
Here are the results for 6000 records:

[code]

And for 7000 records:
[code]
And for 8000 records:
[code]

Actually, here are a few more timings as a graph. Although your function does help speed up the JSON transformation, the speed of writing to the dat

[2020-08-24 12:10] Steve-Mcl commented on #35
Thanks for the feedback.

In order to understand where the time is taken I would need to perform tests against a database while debugging this node and the underlying packages.

* It could be mssql-plus node
* It could be the nodejs DB driver (tedious)
* It could be your database/procedure.

#### Next steps...
* Do you have a way of testing this in Management Studio - see how long the `procUpsertT

[2020-08-24 12:47] harmonic7 commented on #35
Thanks again @Steve-Mcl ,

Regarding testing in Management Studio - Here I've tested this in Azure Data Studio:

<img width="391" alt="Screen Shot 2020-08-25 at 12 34 12 AM" src="https://user-images.githubusercontent.com/10692146/91045404-ec15e080-e66a-11ea-80fc-901febc4432c.png">

* As you can see, the stored proc isn't the issue.
* Regarding whether this is academic or not. I do have real requir

[2020-08-24 12:52] Steve-Mcl commented on #35
OK, well, interesting.

I will attempt to debug this later tonight - see where the bottleneck is.

What would be acceptable / realistic speeds (bearing in mind this is all running 3 layer deep in the matrix  (OS --> Docker --> Nodejs) and the main driver is JavaScript :) ?

[2020-08-24 13:14] harmonic7 commented on #35
Thanks again, much appreciated!

The largest number of rows would be 250,000 and ideally this could be processed in under a minute (obviously the faster the better).

The stored proc on it's own (along with the DB processing `UNION ALL` statements) as below takes less than a second for approx. 250,000 rows:

<img width="482" alt="Screen Shot 2020-08-25 at 1 12 04 AM" src="https://user-images.githu

[2020-08-24 22:23] Steve-Mcl commented on #35
Initial testing environment ...
* SQL2017 running in linux container on a fairly low powered NAS
* node-red running native (on an Win10 i7 box)

1000 rows in TVP...
[code]

5000 rows in TVP...
[code]

10000 rows in TVP...
[code]

50000 rows in TVP...
* I gave up after about 10 minutes.

Based on 10000 rows taking ~14s, we can assume 250000 rows would take 350s (5min 50s) - however, as we can see f

[2020-08-25 00:24] harmonic7 commented on #35
Thanks again @Steve-Mcl ,

Interesting - I changed the mssql dependency as you suggested, then restarted the node-red container. Afterwards I got an error saying that the node couldn't connect because of a self-signed certificate error.  So - I disabled encryption in the configuration node:

<img width="179" alt="Screen Shot 2020-08-25 at 12 21 37 PM" src="https://user-images.githubusercontent.com

[2020-08-25 08:02] damonroberts95 opened #37 "SQL Editor area not filling available space."
I've recently updated from 0.3.2. to 0.5.0. and noticed the query editor portion of the node settings has shrunk significantly. This appears to be because the sidebar leaves space for the parameter 'editor' mode in 0.5.0, even when it isn't visible. It seems like the `oneditresize` function doesn't take into account whether the second editor is visible and leaves space for it regardless. This make

[2020-08-25 08:13] Steve-Mcl commented on #37
Hi @damonroberts95 , thanks for taking the time to raise an issue.

I will see if I can make the re-sizing of elements smarter next time i am in the code.

Cheers.

[2020-08-25 08:15] Steve-Mcl commented on #35
Ahha, I assumed you "needed" encryption. If you are good without it, then that is great.

PS, did you manage to get 250000 rows into the DB using original mssql client lib? If so, how long did it take?

[2020-08-25 11:50] Steve-Mcl commented on #37
I have made some UI improvements in V0.5.1 (44f0dc3)

- add "none" option to parameters
- make query window resize to available space
- add expand button to further increase query editing size

 I'd appreciate it if you update from NPM (or via node-red pallete when it appears)

[2020-08-25 11:58] damonroberts95 commented on #37
Spot on, works perfectly, nice one! Better service than if it was paid for!

![image](https://user-images.githubusercontent.com/62603811/91171405-544bdd00-e6d2-11ea-98d9-81e191a65bb8.png)

[2020-08-25 12:03] Steve-Mcl commented on #37
did you test the expand button (top right of query editor)?
Is that working too?
If so, please comment and close :+1:

[2020-08-25 12:30] damonroberts95 commented on #37
I did, also working perfectly (Forgot to mention it as I don't think I've ever actually used it before!)

[2020-08-26 01:19] harmonic7 commented on #35
Hi again @Steve-Mcl ,

Well I do really need encryption, but I thought that at least there may be other ways forwards (like setting up a tunnel between the containers).

I didn't manage to get to 250000 rows with the original mssql client. When I switched back I found that the same performance issues were occurring so I didn't try past about 10,000.

However - I thought about things further yester

[2020-08-26 07:40] Steve-Mcl commented on #35
Thanks for the PR.
I am gonna comment on the mssql repo see if there is any plans to get this moving quicker.
Until then, i will leave the PR open & do it all at once.

[2020-08-27 05:21] harmonic7 commented on #35
Thanks for the response and following this through further with tediousjs/node-mssql
And thanks also for your original assistance and interest.

[2020-09-06 17:20] Steve-Mcl opened #39 "Potential issue with special characters in password"
Ref: https://discourse.nodered.org/t/node-red-contrib-mssql-plus-0-5-1-cant-connect-to-mssql/32501/12?u=steve-mcl

[2020-09-07 09:22] Steve-Mcl commented on #39
Tested this out - cannot see an issue.

Please re-open if the issue persists.

[2020-09-07 09:22] #39 closed

[2020-09-24 08:15] Steve-Mcl opened #40 "permit additional options in the parameter value"
Add jsonata & `timestamp` to parameter value options.

Also, for consideration...
* `now Date` (for Date types)
* `now DateTime` (for DateTime types)
* `now DateTime2` (for DateTime2 types)

This simplifies things like a `datetime` to be set to `now` or getting info from a JS object (using jsonata)

![image](https://user-images.githubusercontent.com/44235289/94118870-04ce0d80-fe46-11ea-9c23-e23076

[2020-09-29 13:51] Steve-Mcl commented on #40
Added JSONata, DateTime(now) & UUID and JS/Unix (now) Epochs in V0.6.0

[2020-09-29 13:51] #40 closed

[2020-10-21 21:27] Steve-Mcl opened #41 "Decimal truncated"
Consider adding support for decimal precision and scale

example...
`request.addParameter('value', Decimal, 18728.4, { precision: 16, scale: 2 });`

Currently, it looks like tedious is defaulting to decimal(18,2) meaning loss of precision.

[2020-10-23 15:24] #41 closed

[2020-11-03 20:04] tjj07c opened #42 "Node Red Memory Leak When Using node-red-contrib-mssql-plus"
I am using the mssql-plus node to put about 500,000 records into a sql table, 1000 records at a time. When I do this, the program will eventually crash my controller after about 3 times of running the program. It seems like the query strings are being held in the memory after the flow is completed. Is this a known issue or am I using the node incorrectly?

[2020-11-04 13:01] Steve-Mcl commented on #42
Hi, How are you doing the insert of 1000 rows?  Using TVP or a large SQL insert statement?
What hardware is it and memory does it have?

I have personally tested sending 10000 rows using TVP parameter without issue (other than the known speed issue #35 that is waiting for the underlying node module to be update)

---

Could you test this ...
* change the MSSQL node  to do something simple like "SE

[2020-11-04 16:53] tjj07c commented on #42
Hello Stephen, I am using large SQL insert statements. The hardware I am using is an Opto22 GROOVE EPIC and I believe it has about 1GB dedicated to Node Red and 2 GB overall.

I will test changing the flow to do the simple select statement instead of the insert statement and get back to you.

Below is the CREATE script for my table. How would I go about getting you the flow and sample data? Do you

[2020-11-04 19:12] tjj07c commented on #42
I ran the test you suggested. I kept my very long Insert request strings in the message, but put them in a seperate msg.temp property. I ran a SELECT TOP 100 [INV_Name],[INV_IP],[Timestamp],[Param_KKS_Name],[Param_ID],[Param_Value] FROM [dbo].[inverter_parameters] query and the memory is not building up like it did with the INSERT statements. I have run it 3 times with no increase in memory so far

[2020-11-04 20:46] Steve-Mcl commented on #42
Hi again. Would you be able to share your flow (or the parts that message the SQL inserts)

Also, how often is this very large insert expected to operate?

Lastly, so I can grasp the overall size of the 1000 insert string, could you give me a couple of insert string statements (I wish to figure out roughly how many bytes are held in memory while the commands execute).

[2020-11-04 21:58] tjj07c commented on #42
Here is one of the query strings.
 [SQLQuery.txt](https://github.com/bestlong/node-red-contrib-mssql-plus/files/5490694/SQLQuery.txt)

I needed it to just run 1 time per day. It basically reads in a file with 70 ip addresses, then gets the values in that query above through an HTTP GET request, then puts those values in the SQL Insert query.

Here is the flow from that page minus the configuration

[2020-11-05 09:32] barneymc commented on #22
Same error. My version of mssql looks good (6.2.3) so not sure why this error is happening. Any help greatly appreciated.

"TypeError: sql.ConnectionPool is not a constructor"

node-red-contrib-mssql-plus 0.6.1
node mssql 6.2.3
node-red 1.0.6
node 10.22

[2020-11-05 20:09] Steve-Mcl commented on #22
Hi @barneymc , could you select the offending MSSQL node & export it (CTRL+E, copy)then paste it in a reply like this...

` ``` `
` [paste flow json between backticks] `
` ``` `

Question - did you switch from another version (e.g. mssql)? or update from an earlier version of mssql-plus? or is this the first time using a mssql node in this node-red instance?

[2020-11-05 20:12] barneymc commented on #22
hey Steve -
Pasted/Copied a flow from another server (Windows to Linux), noticed the mssql node-red was missing, installed it - so it never worked on this server to begin within.

[2020-11-05 20:17] barneymc commented on #22
[code]

[2020-11-05 21:00] Steve-Mcl commented on #22
Hi, hopefully this is an easy one...

the query editor is selected but the query is empty (you also have "stored procedure" selected...
![image](https://user-images.githubusercontent.com/44235289/98295276-3be92000-1fa9-11eb-8b72-dceaa00fda75.png)

however, you also seem to be trying to pass in a query in msg.topic...
![image](https://user-images.githubusercontent.com/44235289/98295362-62a75680-1fa

[2020-11-06 23:03] Steve-Mcl commented on #22
Closing this issue until @barneymc  comes back feedback.

[2020-11-06 23:03] #22 closed

[2020-11-07 01:15] Steve-Mcl commented on #42
Hi, I suspect there is issue may be with VERY LARGE insert statements like yours on a device with small memory size consuming more memory than the GC can keep up with (working theory).

Would you try splitting up your inserts into smaller chunks - see if the memory still leaks (or dissipates)

Something like...

![image](https://user-images.githubusercontent.com/44235289/98427790-7ed4f180-2096-11e

[2020-11-17 21:57] tjj07c commented on #42
Hey Steve,
Sorry it took me so long to get back. I tried your flow with injecting 250 rows 1 time per second, but the memory is still building up. I ran it about 3 times and it is up to 500Mb used and not going down even though the flow is done. It seems like it is saving all of the query strings and not releasing them. I took a heap snapshot and those strings look like they are taking up the majo

[2020-12-07 14:48] tjj07c commented on #42
Hey Steve, did you need anything else from me for this issue?

[2020-12-07 16:00] Steve-Mcl commented on #42
Hi again @tjj07c  I am not familiar with how garbage collection works in nodejs & the info you showed me could be normal for all i know (sorry - not great news).

However...

I did read this: https://github.com/tediousjs/node-mssql/issues/955

in short: native promises + mssql-V6 seem to be an issue.

Are you willing to play around and test something if i provide instructions?

Essentially...
* st

[2020-12-10 12:36] Steve-Mcl commented on #42
Hi @tjj07c did you get a chance to test what i proposed?

Also, I am busy adding bulk mode to the node & have tested on an RPI 3b (1GB RAM).  I inserted (in one go) 500000 rows in bulk mode every hour over night.  Initially, memory usage on the PI jumped from 198MB used to around 340MB used. It was still around 340MB used the next morning (promising).

If I publish a BETA release on NPM would you

[2020-12-11 01:44] Steve-Mcl commented on #42
Hi again @tjj07c , hope you are still with me on this.

I have now published V0.7.0-beta.1 to NPM - https://www.npmjs.com/package/node-red-contrib-mssql-plus/v/0.7.0-beta.1

This has numerous changes but most importantly, for you, BULK INSERT mode  is now implemented,
Also, the MSSQL library is updated to V7.0.0-alpha (which importantly updates the tedious driver to latest version)

#### Install m

[2020-12-11 15:23] Steve-Mcl commented on #35
@harmonic7 There is a beta in NPM that includes your changes AND the package dep for mssql v7

NOTE: due to your PR being against master branch I could not merge it since I wanted to do this in a development branch so instead, I copied / pasted your changes into the new branch (thank you) please feel free to close the PR.

If you get the chance, please see [https://discourse.nodered.org/t/updated-

[2020-12-11 15:23] #35 closed

[2020-12-14 15:53] Steve-Mcl commented on #42
@tjj07c  I have been running the [beta version](bit.ly/3gCd8IA) performing bulk inserts of 500000 rows for several days.  In all, the Raspberry PI has done 224 inserts and a total of 112,000,000 rows are now present in the database.

If you give it a go, please feedback so that I can gain confidence in releasing to NPM

[2020-12-15 02:34] harmonic7 opened #43 "Bulk Insert fails on table with primary key"
When bulk inserting into a predefined table with a primary key, the insert fails and the following error is returned:

[code]

Column types used were `NVARCHAR(255)`

The whole thing worked fine if I didn't have a pre-existing table, or the pre-existing table didn't have a primary key.

[2020-12-15 03:03] Steve-Mcl commented on #43
Did you include the primary key as a column in the list (should not be in the list if identity is specified)

Are you certain the values being bulk inserted are not in the table?

If it is not either of those, would you be kind enough to provide a sample table create statement and a demo flow & I will look into it?

Thanks for testing.

[2020-12-15 03:38] harmonic7 commented on #43
No problem,

The primary key is not an identity column, and the table is empty.

The table create statement is:

[code]

The flow is:
[code]

[2020-12-15 16:28] Steve-Mcl commented on #43
Hi @harmonic7 I have now published a beta.3

https://www.npmjs.com/package/node-red-contrib-mssql-plus/v/0.7.0-beta.3

The error you were seeing was because the tedious driver couldnt infer from the parameter that the field was NOT nullable. Even though the bulk data you were sending did not contain nulls the table column MUST be set as not nullable. Who knew!

I have had to re-jig some code and a

[2021-01-07 16:58] tjj07c commented on #42
Steve,
Very sorry I haven't gotten back to you. I was out for much of the holidays. I will try testing the beta and see if this fixes the issue and get back to you.

[2021-01-07 20:06] Steve-Mcl commented on #42
No bother. Please note, there was a small issue with beta.2. There is a beta.3 available here: https://www.npmjs.com/package/node-red-contrib-mssql-plus/v/0.7.0-beta.3

[2021-01-13 11:01] damonroberts95 commented on #37
As of updating to 0.6.2 the parameters editor window no longer hides itself if set to none.

![image](https://user-images.githubusercontent.com/62603811/104443730-b4162800-558e-11eb-8e1c-20a15b512022.png)

[2021-01-13 12:30] Steve-Mcl commented on #37
Oh. Dang. Well spotted. Not sure how I have managed that. Will look into it asap. Thanks.

Ps, if you could check the browser Devtools (F12) and let me know if there are any errors occuring when you select between parameters and none parameters, that would be helpful. Thanks.

[2021-01-13 13:09] damonroberts95 commented on #37
I'm only getting `[Violation] Forced reflow while executing JavaScript took 69ms` when opening the dropdown. Nothing the rest of the time.

Everything else seems to be working well!

[2021-01-13 13:15] Steve-Mcl commented on #37
Ok cheers. I'll look into it soon. Sorry for the troubles.

[2021-01-17 12:52] #37 closed

[2021-01-17 12:54] Steve-Mcl commented on #37
Should be fixed in v0.6.3

[2021-01-27 21:18] globaluk opened #44 "Failover Partner connections."
I've got a clustered database to connect to, using the FailoverPartner attribute in the connection string, detailed here : https://www.connectionstrings.com/sqlconnection/database-mirroring/

Is there a way to do this ?

Thanks
Simon

[2021-01-27 22:31] Steve-Mcl commented on #44
Hi. Unfortunately the underlying driver doesn't support this depreciated feature (see [this issue](https://github.com/tediousjs/tedious/issues/315)

I have successfully connected to a traditional SQL cluster (using the cluster address/hostname).

[2021-02-19 16:11] fabioperencin opened #45 "Error "Incorrect syntax near ')'." in Bulk Insert when Columns are from msg.paramQuery"
![image](https://user-images.githubusercontent.com/22098587/108527931-289d5e80-72d3-11eb-9cb5-35bdf8181490.png)
I get this error when passing Columns parameter from specific msg.xx

This is the configuration:
![image](https://user-images.githubusercontent.com/22098587/108529627-f2f97500-72d4-11eb-91ca-7a5ef81fe20e.png)

this is the content of the msg.complete

`{"paramQuery":
[{"output":false,
"na

[2021-02-21 16:07] Steve-Mcl commented on #45
Hi,

your setup and params looks ok but your data might be an issue.  I am not setup to test this but I can see a few parameters of type int or float but your data is not numeric...
![image](https://user-images.githubusercontent.com/44235289/108630765-5f53b000-745e-11eb-85a0-c6ef77faf351.png)

Try setting these data values to `null` or `undefined` (assuming the table permits nulls - otherwise set

[2021-02-23 09:10] #44 closed

[2021-02-23 09:10] Steve-Mcl commented on #43
I assume this issue is resolved in beta3?

Closing issue for now.

[2021-02-23 09:10] #43 closed

[2021-02-23 11:26] harmonic7 commented on #43
Hi @Steve-Mcl , sorry for not getting back to you sooner on this one.

I've checked now and can confirm that I no-longer receive the error relating to the primary key insert.  I've also retested the scenario from #35 and the speed doesn't seem to be an issue - I successfully inserted 250,000 rows in about seven seconds using the stored proc with the TVP.

[2021-02-25 11:23] fabioperencin commented on #45
Hi @Steve-Mcl i tried today to change the formatted data and cast the integer and float to the correct dataelement and set null or undefined. Same result, same error on the bulk insert node.

The table create script is:

`CREATE TABLE [dbo].[esecuzioni_attivita2](
	[idEsecuzioneAttivita] [int] NOT NULL,
	[idUtente] [int] NULL,
	[Utente] [nvarchar](255) NULL,
	[Data] [date] NULL,
	[OraInizio] [nvar

[2021-02-25 11:59] Steve-Mcl commented on #45
@fabioperencin

could you knock up a minimal flow that demonstrates this by using and inject (to provide the sample data) and your MSSQL node.

[2021-03-01 10:12] fabioperencin commented on #45
hi @Steve-Mcl ,

I prepared the minimal flow.

`[{"id":"7734b3d9.8bcfcc","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"ccdf4e4f.5393","type":"function","z":"7734b3d9.8bcfcc","name":"TEST_FUNCTION","func":"var paramQuery = [\n    {\"output\":false,\"name\":\"idEsecuzioneAttivita\",\"type\":\"int\"},\n    {\"output\":false,\"name\":\"idUtente\",\"type\":\"int\"},\n    {\"output\":

[2021-03-04 20:35] harmonic7 opened #46 "Comment - tediousjs / node-mssql now at beta 3"
Just a comment - I noticed that there is now this available: https://github.com/tediousjs/node-mssql/tree/v7.0.0-beta.3
  In-case you weren't aware

[2021-03-04 20:51] Steve-Mcl commented on #46
Hi, yes, I was aware, however NPM is still on 6.x.x

AFAIK, the changes in alpha ~ beta are minimal so you can update that yourself if you wish to test it.

But as it is now actually a beta, hopefully it wont be long till a 7.x.x release

[2021-03-04 23:07] Steve-Mcl commented on #45
Hi, i have published an update

could you install node-red-contrib-mssql-plus@0.7.0-beta.4

cd into your node-red folder then run `npm install node-red-contrib-mssql-plus@0.7.0-beta.4`

and use this flow for testing ...

[code]

[2021-03-04 23:13] Steve-Mcl commented on #46
FYI, I have just published `node-red-contrib-mssql-plus@0.7.0-beta.4` that targets the beta.

I would be grateful for any feedback if you decide to test it?

[2021-03-10 00:45] Steve-Mcl commented on #45
@fabioperencin Did this work for you? Please let me know.

[2021-03-16 14:39] fabioperencin commented on #45
@Steve-Mcl  Hi, sorry for the delay. I tried just now with your flow and the new beta version and it's works.  Now I had to check with my original flow.

[2021-03-18 08:11] #45 closed

[2021-04-02 16:47] bestlong commented on #42
https://forums.opto22.com/t/memory-leak-in-node-red-program-on-groov-epic/3376

Hi @tjj07c
can u provider your flow code for debug ?

[2021-05-07 14:18] stephanlotter opened #49 "node.queryOptType should be node.paramsOptType"
If found a bug in mssql.js at the following line:

https://github.com/bestlong/node-red-contrib-mssql-plus/blob/4c9d4c1ae4984a3c7da63774bf47479bc4ee63a2/src/mssql.js#L595

It should be `node.paramsOptType` in stead of `node.queryOptType`:

`} else if(!node.paramsOptType || node.paramsOptType == "editor") {`

The bug causes parameter values passed in msg to not work.

[2021-05-07 15:25] Steve-Mcl commented on #49
Hi, thanks for the feedback.

I believe this has been corrected in the 0.7.0-beta.4 version which will be released as 0.7.0 very soon

I will leave this open for now. I would appreciate it if you could feedback if everything is ok once it has been updated?

thanks.

[2021-05-13 14:21] stephanlotter commented on #49
Looks great! Thanks!

[2021-05-13 14:37] Steve-Mcl commented on #49
Cheers  Can we close this issue now?

[2021-05-13 14:45] #49 closed

[2021-05-14 07:17] Steve-Mcl commented on #46
@harmonic7, with mssql at V0.7.0 I have now updated master branch to v0.7.0 and is now published to NPM / flows lib.

I will close this and other issues but please do test and feedback any issues.

Thanks for your support

[2021-05-14 07:17] #46 closed

[2021-05-14 07:18] Steve-Mcl commented on #42
@tjj07c , with mssql at V0.7.0 I have now updated master branch to v0.7.0 and is now published to NPM / flows lib.

I will close this issue but please do test and feedback any issues.

Thanks for your support

[2021-05-14 07:18] #42 closed

[2021-05-15 12:15] werkstrom opened #50 "Examples of using a connection node? Cannot even find the node in the palette"
Sorry for perhaps being a noob question, but how can I setup a common connection that opens in the beginning of a flow. Will be used for a lot of operations/queries and then closed at the end of the flow. I cannot find an example and honestly don't know how to implement it. I cannot even find the CN-node in my palette (it shows up as installed but I cannot find it to drag it into my flow). Have tr

[2021-05-15 12:32] Steve-Mcl commented on #50
You add an MSSQL node to the flow, open it, then setup a connection.

![image](https://user-images.githubusercontent.com/44235289/118361015-6384fa80-b581-11eb-8e04-f767bff59d30.png)

Then when you add more MSSQL nodes to the editor, that common config is available to all other MSSQL nodes.

This is not unique to the MSSQL node (this is how node-red does shared config nodes)

If you have further qu

[2021-05-15 12:32] #50 closed

[2021-05-17 10:29] Marklundarn opened #51 "Using split in combination with MSSQL-plus and azureSQL"
First of all. Great work with this node. Easy to use and still versatile.
I might however have push it to it's limit in this scenario and like to discuss it.

This is the scenario that im testing.
![image](https://user-images.githubusercontent.com/55854859/118470835-5d208b00-b707-11eb-8a11-6fef20566945.png)

I want to be able to run a query for each row (object in my array) but im facing the issue

[2021-05-17 11:20] Steve-Mcl commented on #51
Hi @Marklundarn how many queries are executed from your object?  I assume more than 30?

Reading up on the issue it's to do with concurrent requests and it is a limitation set by your azure package. For example if you moved up from the basic package you would get more concurrent requests.

Are these queries quite large & do they take some time to respond? If so & you are in no major hurry to get t

[2021-05-17 12:02] Marklundarn commented on #51
Hi,

Yeah, im running about 250 as a test case. Actually thought "request" was the same as "opened connections" but that doesn't seem to be the case.  With the limitations of azure SQL i think the only viable solution is to concatenate into one big request. Thanks for you input! :)

/Jens

[2021-05-17 13:23] Marklundarn commented on #51
Hi,

After reading up a bit more on how mssql seems to handle request/workers. It do indeed seem like 1 connection instance will always be using at least 1 worker(request) (maybe more depending on the Max DOP setting on dbServer) .

That means that if we are opening a connection for each "run" of the mssql-node and closing the connection instance after the query are done we'll risk ending upp with

[2021-05-23 10:17] patricks89 opened #52 "Wrong Variable in Debug Window on Connect and Disconnect Database"
I had an Error in Debug Window with another node, so i checked Debug Window. During redeploy i saw that on Disconnect the DB (redeploy) the User is declared as Servername.
Node-Red: V1.35
MSSQL-Plus: V0.7.0
Database: MSSQL
![image](https://user-images.githubusercontent.com/52099317/119256326-766e7f00-bbc0-11eb-97e8-b104a4c6ac43.png)

[2021-05-23 13:30] #52 closed

[2021-05-23 13:31] Steve-Mcl commented on #52
Well spotted.

Thanks for the feedback.

node-red-contrib-mssql-plus@0.7.1 now in NPM

[2021-07-02 16:04] negalaz opened #53 "On Error return the msg_id"
Is there a way to get the msg_id returned when an error happened?

I would like to valitade the msg_id specially when using RAISERROR on SP for error handling on node-red

Thanks!

[2021-07-02 16:49] Steve-Mcl commented on #53
I', not sure what you mean by msg_id however you can catch errors and see the result of the RAISEERROR

Here is a demo flow...

[code]

![image](https://user-images.githubusercontent.com/44235289/124306027-c6e0e100-db5d-11eb-9896-db7a3a48d2d3.png)

[2021-07-02 17:28] negalaz commented on #53
Yes that's what I need!!. I was looking for it on msg.error  on the catch node.

Thanks

[2021-07-02 17:28] #53 closed

[2021-07-09 07:12] na-am opened #54 "error connecting to ms sql server 2019 linux / docker"
Hi
i've no success to connect to a linux ms sql server in a docker container
besides, i can connect from a windows client to the ms sql server and also from Azure Data Studio (MacOS)

what i noticed is, that the windows client shows me no instance name for the linux ms sql server, just a servername (mssqlserver)
that page says, that the linux version has no instance name:
https://stackoverflow.com

[2021-07-09 09:15] Steve-Mcl commented on #54
Hi.

Can you show a screenshot of the working connection details from azure data studio and a screenshot of what you enter into the node connection setup?

[2021-07-09 10:14] na-am commented on #54
Azure Data Studio query
![image](https://user-images.githubusercontent.com/47410115/125062459-b1643d80-e0ae-11eb-8cec-66b5d15db935.png)

Node-red settings:
![image](https://user-images.githubusercontent.com/47410115/125062870-259ee100-e0af-11eb-9016-498b94a938fe.png)

[2021-07-09 13:24] Steve-Mcl commented on #54
You didnt show me the connection detail for Data Studio - never mind.

the port number is possibly not 1433

Look in the console for "listening"...

[code]

If you cant find docker logs, then look in the sql log

![image](https://user-images.githubusercontent.com/44235289/125083876-cd70da80-e0c0-11eb-8aa7-4b19a260d418.png)

---

Regarding instance name, you can use 'localhost\instance' to connect

[2021-07-09 14:19] na-am commented on #54
this is the log from the docker container:
![image](https://user-images.githubusercontent.com/47410115/125092245-6e679180-e0d1-11eb-8ca2-9d68781e7627.png)

[2021-07-09 14:21] na-am commented on #54
there is no port given in the settings of  Data Studio:
![image](https://user-images.githubusercontent.com/47410115/125092451-a7a00180-e0d1-11eb-95cd-46c6932dfbe6.png)

[2021-07-10 12:26] Steve-Mcl commented on #54
Hi, can you try 3 things please...

![image](https://user-images.githubusercontent.com/44235289/125162850-0f158a00-e182-11eb-9241-c8062480a57a.png)

1. Disable Server Encryption, deploy, test.

2. Remove database name, , deploy, test.

3. Set host name to `IP.ADD.RE.SS\MSSQLSERVER`, deploy, test.

Please be sure to deploy and test after each individual change.

Let me know how you get on.

Ta.

[2021-07-10 16:37] na-am commented on #54
no success, BUT.....   surprise, surprise with native **node** it's working :-)
and yes, encrypt must be false otherwise no connection is possible

Promise { <pending> }

Promise {
  ConnectionPool {
    _events: [Object: null prototype] {},
    _eventsCount: 0,
    _maxListeners: undefined,
    _connectStack: [],
    _closeStack: [],
    _connected: true,
    _connecting: false,
    _healthy: tru

[2021-07-10 16:52] na-am commented on #54
sorry for wasting your time Steve
now it's working in Node-red
encription=true was one reason AND a faulty syntax in my select statement :-(

[2021-07-10 17:16] Steve-Mcl commented on #54
No bother. Glad it's sorted.

[2021-07-10 17:16] #54 closed

[2021-08-10 17:36] UNOPARATOR commented on #51
@Marklundarn; since the limitation is regarding your **_Azure SQL Database Resource Limits_**, you might consider adding a delay node _(set as a Rate Limiter)_ or maybe try the [node-red-contrib-semaphore](https://flows.nodered.org/node/node-red-contrib-semaphore) node instead.

[2021-08-12 05:02] maulikdoshi82 opened #55 "continuously getting ECONNCLOSED error"
Hi,
 I'm trying to parse a large CSV file (approx 10k records) and store it in SQL Server. As the SQL Server is remote or sometimes docker initialized, don't want to use bulk-insert.

  Node-red is running in docker. data file is shared with it via volume mount.

 Node-red can see the file (as I'm printing the entire payload as http response while debugging).

 CSV is able to parse the whole file

[2021-08-12 05:27] smiziara opened #56 "Plans to support both Native driver and Tedious?"
Hello,

Do you have any plans to provide support for both the Native V8 driver for MSSQL alongside with the current one (Tedious)?

Im interested in using the Native version, so if you are not currently work on this, can we fork and add this functionality, or would you consider a PR?

Thanks.

[2021-08-12 08:52] bestlong commented on #56
https://www.npmjs.com/package/msnodesqlv8
This one ?

PR is welcome.

[2021-08-12 10:05] smiziara commented on #56
Yes.

Great so i will start developing it and when i have a first version will
send for your review.

Thanks.

On Thu, Aug 12, 2021, 05:52 Shao Yu-Lung (Allen) ***@***.***>
wrote:

[2021-08-12 21:10] Steve-Mcl commented on #55
The delay node delays every message by the delay amount. In other words, if you send 8000 messages through a delay of 5s, you will delay all messages by 5s (in other words, all 8000 will be sent in quick concession after a single 5s delay). This is evident if you put a debug node after the delay.

Instead, set the delay node to "rate limit" node, sending 1msg per 5sec (or greater) to spread them o

[2021-08-12 21:53] Steve-Mcl commented on #56
@bestlong are we sure we want to do this? I believe msNodesqlV8 needs to build on a user's system (so requires a user to have build tools ore-installed so that bindings can be compiled)  and it has prerequisites (e.g. ODBC)

@smiziara how would you propose to provide users a choice between tedious and msNodesqlV8?

[2021-08-13 01:36] smiziara commented on #56
Probably as an optional package.

If it's found and configured to use, we can use it, otherwise keep using
tedious.

On Thu, Aug 12, 2021, 18:53 Stephen McLaughlin ***@***.***>
wrote:

[2021-08-13 08:15] Steve-Mcl commented on #56
@smiziara  that seems like a reasonable approach. I would have been worried if it were a direct dependency.

Look forward to PR

[2021-08-16 01:54] bestlong commented on #56
@Steve-Mcl Wait until we see the PR to decide.

[2021-08-16 17:59] thomassorensen2650 opened #57 "Invalid data type on Bulk Insert crashes Node-Red"
If a error occurs on a bulk insert (e.g. if you try to insert a invalid date into a DateTime Column) then the Node's error handling will not be triggered and the Node-Red Runtime will crash.

Here is the error message
[code]

[2021-08-16 18:29] Steve-Mcl commented on #57
Hi, thanks for reporting this. I have not seen this myself. If you have a demo flow that consistently reproduces this problem I would appreciate it if you would post it. Please include a table create script and some sample data.

[2021-08-17 22:31] thomassorensen2650 commented on #57
Hi Steve,

Thanks for looking into this - I have attached a simple flow and SQL Create statement below.

Flow:
```[{"id":"a4de19184d88146f","type":"MSSQL","z":"a0245855.19cb18","mssqlCN":"ab87b111a6adf030","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"Test","modeOpt":"","modeOptType":"bulk","queryOpt":"","queryOptType":"editor","paramsOpt":"columns","paramsOptType":"msg","

[2021-08-18 15:36] Steve-Mcl commented on #55
@maulikdoshi82 did you test the examples and potential solutions I provided?

[2021-08-18 21:38] Steve-Mcl commented on #57
Hi, I have tried to handle the error but cannot due to upstream issue.

I have posted it here: https://github.com/tediousjs/node-mssql/issues/1296

If the guys over there address this, the problem should disappear.

[2021-08-20 07:49] Steve-Mcl commented on #57
@thomassorensen2650 the underlying library has fixed this in v7.2.1

If you want to try it without waiting for an update then simply uninstall MSSQL-PLUS then reinstall it. It will pick up the updated package.

[2021-08-20 07:49] #57 closed

[2021-08-21 07:09] Steve-Mcl commented on #55
Ok. I'm going to assume @maulikdoshi82 found a solution and I'm going to close this issue.

Please reopen if necessary.

[2021-08-21 07:09] #55 closed

[2021-08-25 07:09] t104306033 commented on #42
Hi @Steve-Mcl, we test the node version v0.6.4、v0.7.0-beta3、v0.7.3-beta4, it still have memory leak. Using the test flow as shown below.

How to resolved this problem? Could you help please ：）

![圖片](https://user-images.githubusercontent.com/32777177/130742245-d401e024-bf2b-404b-8a8d-50fb27fc82d1.png)

[2021-08-30 09:51] Marklundarn commented on #51
Thanks! I'll look into that :)

[2021-08-30 09:51] #51 closed

[2021-09-03 05:22] maulikdoshi82 commented on #55
Hi Steve,

 Thank you for your response and real apologies for not reverting you sooner.  As we had to go for demo, we used the static file load at the time of starting DB and progressed to other places.

  Back to bulk insert now and this looks pretty good. I'm generating an array of around 98000+ records and pushing it in sql-server via batch mode. Array does get created quite quickly though whi

[2021-09-06 07:53] maulikdoshi82 opened #58 "batch data load is failing with Invalid column type from bcp client for colid 2."
Hi Steve,

Thank you for your response and real apologies for not reverting you sooner. As we had to go for demo, we used the static file load at the time of starting DB and progressed to other places.

Back to bulk insert now and this looks pretty good. I'm generating an array of around 98000+ records and pushing it in sql-server via batch mode. Array does get created quite quickly though while p

[2021-09-06 11:28] Steve-Mcl commented on #58
Are you able to provide a minimum demo flow that reproduces this issue?  Could you post it in a reply?

Also, what versions are you running...

* SQL server
* Nodejs
* Node-red

[2021-10-19 08:48] tenaka30 opened #59 "ECONNCLOSED: Connection is closed - Concurrent SQL connections result in first succeeding and all other failing"
Recently forced to move from age old node-red install version (think 0.something) and node-red-contrib-mssql.

Flows imported fine but with node-red-contrib-mssql no longer maintained (deleted?) we have moved to node-red-contrib-mssql-plus.  Now we see where concurrent table reads/writes work in the older Node they fail in mssql-plus.

A few of our flows for example read from multiple tables in a

[2021-10-19 13:44] Steve-Mcl commented on #59
@tenaka30

![image](https://user-images.githubusercontent.com/44235289/137911679-04af88ca-0c6a-4c2c-9059-18637fad24d5.png)

---

So, you are trying to run concurrent queries - while this could/should work (I will look into this later), it is not the ideal composition.

There are 2 approaches i would take on this
1. Put all queries into 1 request
2. chain the requests (sending results to `msg.resul

[2021-11-13 06:57] Rramesh78 opened #60 "mssql-plus issue with mustache format for server name and user/pwd"
Hi,
I'm using mssql-plus 0.6.4 version.
i could not connect to sql using env variable. This is helpful for me to connect to different db located in the different location. I tried to create a sub flow for sql that would help me reuse the same flow across different locations with different servers.
It throws me an errr message
code: "ESOCKET"
message: "Failed to connect to :1433 - Could not connect

[2021-11-18 13:58] flight2k commented on #59
Hi, I have the same issue with the lastest version. But i can't but all my query in the same request.

[2021-12-23 21:48] Imi3est commented on #59
I had the same issue with node-red-contrib-mssql. I still use it but was thinking to replace it to this new version because of this bug, but I see that it is still exists in this version. I have a subflow to save different types of measured data to database. I use it multiple times in my flows so sometimes it is called from diffrent places in almost same time. If that occures I get an error and da

[2022-01-17 22:51] am-rpa opened #61 "Possible to include connection option for ApplicationIntent?"
At first glance I don't see the ability to define the ApplicationIntent. This is needed for Availability Groups with read-only replicas. The connection string value would be "ApplicationIntent=ReadOnly". I don't mind working on a PR as I believe this is supported in Tedious, but want to make sure I'm not overlooking the ability to do this currently.

[2022-01-18 00:13] Steve-Mcl commented on #61
Hi, if you are willing to do PR that would be great.

I suspect you need to add `readOnlyIntent: ` to the [options object](https://github.com/bestlong/node-red-contrib-mssql-plus/blob/f71031fb6b490c20f1ae2d788e5ed15636e3cbce/src/mssql.js#L277) (and set it's value from a new option in the config node)

[2022-02-12 12:47] SandeepAgarwal13 opened #62 "Feature Request - Allow JSONATA expressions for sensitive data in Config SQL Server Node"
Hi Steve,

As you may have guessed from some from my posts on forum we are extensively into DB work.
For SQL Server we use your node (MSSQL Plus) and it fits our purpose perfectly (Thank You for this node.)

Recently as part of some work - we are now checking how to deploy flows across environments where the DB names etc. may differ.
1) We already allow go to flow post deployment to new env - and

[2022-03-09 11:06] mc03225 opened #63 "Problem connecting to mssql express"
I have a local install of mssql express but I cannot connect. I tried windows authentication, then I tried creating a user, but I cannot connect either way. I have checked that mssql express service is running, and I even set the TCP/IP port to 1433, not that this should matter. So far I have not found a way to connect. To get started,  I just want to create an inject node with a simple insert que

[2022-03-09 12:58] Steve-Mcl commented on #63
questions...
* Is the SQL Server on the same server/computer as node-red?
* Can you connect to the instance using SQL Server Management Studio using SQL Login (not integrated)?
* Is the install an instance?

If you can connect using SSMS using SQL Login, show me the details you used for the SSMS login And a screenshot of the MSSQL-PLUS connection config  (NOTE: Obviously, mask out any sensitive in

[2022-03-14 22:45] oobyx commented on #63
Same problem here

- SQL Server is not on the same server/computer, but in the local network (firewall settings are done - works fine for years with some other MS Windows Client - PCs)
- The install is an instance
- I can connect the instance using SSMS and SQL Login

<img width="392" alt="sql" src="https://user-images.githubusercontent.com/101604840/158272225-330702b6-5d94-4da2-bbdd-9876ef060a5b.

[2022-03-14 23:12] Steve-Mcl commented on #63
AHH. I don't know why I forgot this.

An instance doesn't get port 1433

Connect to your SQL server and check the start up log. You should see the port number assigned. Try using that instead of 1433.

Please let me know if this works for you.

[2022-03-14 23:20] oobyx commented on #63
Thanks Steve! It works - it was Port: 59960!

[2022-03-15 00:21] Steve-Mcl commented on #63
@mc03225 can you try this please?

[2022-03-15 09:40] mc03225 commented on #63
HI Stephen,

Tried, and some other variations but still unable to connect, anything else I can try?

From: Stephen McLaughlin ***@***.***>
Sent: 15 March 2022 00:22
To: bestlong/node-red-contrib-mssql-plus ***@***.***>
Cc: Anwar Bashir ***@***.***>; Mention ***@***.***>
Subject: Re: [bestlong/node-red-contrib-mssql-plus] Problem connecting to mssql express (Issue #63)

@mc03225<https://github.com/

[2022-03-15 11:55] mc03225 commented on #63
Hi,

Just realised that my instance might be on another port so I checked and found mine was 57708, so I tried and this still failed to connect.
![config](https://user-images.githubusercontent.com/45171925/158372623-fe73fbb0-d644-4e0a-9ae3-a8e344a71ac1.PNG)

[2022-03-16 00:17] Steve-Mcl commented on #63
@mc03225 when I said can you try this

I meant try this: https://github.com/bestlong/node-red-contrib-mssql-plus/issues/63#issuecomment-1067390539

[2022-03-16 08:58] mc03225 commented on #63
Hi,

Okay, many thanks - that worked. See screenshot :)

![db-node-red](https://user-images.githubusercontent.com/45171925/158553427-066ee065-33d3-4108-9a89-a2903cf35a6e.PNG)

[2022-03-16 10:14] Steve-Mcl commented on #63
Glad it's ok.

[2022-03-16 10:14] #63 closed

[2022-06-03 12:44] candoumbe commented on #60
Any update on this issue ?

[2022-06-04 15:03] bestlong commented on #61
https://github.com/tediousjs/node-mssql/issues/400

[2022-06-06 09:16] Steve-Mcl commented on #60
@Rramesh78 my apologies for not seeing this earlier.

The issue is your understanding of how ENV VARs in subflows work.  ([env var docs](https://nodered.org/docs/user-guide/environment-variables))

Here is a demo with correctly configure parameters and even proper markdown help...

![chrome_md31CHSRdE](https://user-images.githubusercontent.com/44235289/172132143-047459c6-dc50-4910-98fe-881a6ed2ad4

[2022-06-06 09:17] Steve-Mcl commented on #60
@candoumbe What is your issue?

[2022-06-06 09:24] Steve-Mcl commented on #62
This is not something I can work on right now but will leave it open and marked as a feature request.

[2022-06-06 10:00] candoumbe commented on #60
Hi @Steve-Mcl
I was looking for the correct syntax to use in order to use env. vars for username and password.
I let you know if applying your answer solved the issue.

[2022-06-06 20:13] Steve-Mcl commented on #60
I will close this as I think it is resolved. Please reopen if you still have a problem.

[2022-10-11 06:55] mc03225 commented on #63
Hi,

Thanks for getting back to me so quickly. I am a teacher and I currently show the students sqlite but I would prefer sqlserver express. To this end I simply downloaded a copy server management studio and sqlserver express onto my laptop as a local install with Windows Authentication. Yes, Node-Red is on the Windows laptop.

***@***.***

I created a few databases for testing, I wanted to try c

[2022-10-11 07:05] Steve-Mcl commented on #63
@mc03225 you should visit the page on GitHub. Much of your reply is messed up. You might want to redo it

[2022-11-02 03:39] BADEnder opened #64 "Memory leak is still happen in both of newest version and prior version."
## Memory Leak Case
There is Memory leak problem in both of your newest version 0.7.3 and prior version 0.3.3.

The testing flow was that you mentioned in the [previous issue](https://github.com/bestlong/node-red-contrib-mssql-plus/issues/42),
but I changed the input more quick, For example, 7200pcs / 5 seconds, and change the delay node to 10msg/s
(My work space need the input more large and more

[2022-11-15 21:10] dresslerc opened #65 "Using Environment Variables"
I set an Environment Variable on my flow

![image](https://user-images.githubusercontent.com/375080/202025273-6126030e-e8ab-4d8d-adca-58106447280b.png)

I am trying to pass this value to a Query, but no luck.  Not sure if bug or I am screwing something up:

![image](https://user-images.githubusercontent.com/375080/202025859-7aded9ce-048e-4891-ac54-bae5b656dc38.png)

But in SQL, I just get blanks: